.modal__container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d50;
  top: 0;
  left: 0;
}

.modal__container .modal__content {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  border-radius: 20px;
}

.modal__content .content__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary);
}

.modal__content .content__header h2 {
  font-family: "Outfit-SemiBold";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--button-text);
}

.modal__content .content__header .close {
  cursor: pointer;
}

.modal__content .content__form {
  padding: 1rem;
}

.modal__content .content__form .input__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.modal__content .content__form .input__group.group__two {
  margin-top: 10px;
  justify-content: space-between;
}

.modal__content .content__form .input__group.group__three {
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.modal__content .content__form .input__group.group__three .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(50% - 10px);
}

.modal__content .content__form .input__group.group__two .inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.modal__content .content__form .input__group.group__two input {
  width: 20%;
}

.modal__content .content__form .input__group.group__two select {
  width: calc(40% - 20px);
}

.content__form .input__group label {
  font-family: "Outfit-Medium";
  font-weight: 500;
  font-size: 1rem;
  color: var(--paragraph);
}

.content__form .input__group input {
  font-family: "Outfit-Regular";
  font-weight: 400;
  font-size: 1rem;
  color: var(--button-text);
  width: 100%;
  height: 48px;
  border: none;
  background-color: var(--secondary);
  border-radius: 999px;
  padding: 0 20px;
  outline: none;
}

.content__form .input__group select {
  font-family: "Outfit-Regular";
  font-weight: 400;
  font-size: 1rem;
  color: var(--button-text);
  width: 400px;
  height: 48px;
  max-width: 400px;
  border: none;
  background-color: var(--secondary);
  border-radius: 999px;
  padding: 0 20px;
  outline: none;
}

.content__form .input__error {
  color: var(--tertiary);
  font-family: "Outfit-Regular";
  font-weight: 400;
  font-size: 0.85rem;
  margin-top: 8px;
}

.content__form .input__group .input__error {
  margin-top: -8px;
}

.content__form .buttons__group {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 10px;
  border-top: 1px solid var(--secondary);
}
