.toast__container {
  position: absolute;
  width: 400px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
}

.toast__container .modal__content {
    display: flex;
    align-items: center;
  justify-content: flex-start;
    gap: 10px;
}

.toast__container .modal__content p {
    font-family: "Outfit-Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.toast__container.success {
  background-color: #28a745;
}

.toast__container.success .modal__content p {
  color: var(--main);
}

.toast__container.error {
  background-color: var(--tertiary);
}
/*
    .toast__container   #warning {
        background-color: ;
    }

.toast__container   #default {
        background-color: ;
    }
    
*/
