.btn {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 24px;
  border-radius: 99px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.btn-primary {
  background-color: var(--button);
  color: var(--main);
}

.btn-primary:hover {
  background-color: var(--hover);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--paragraph);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.btn-tertiary {
  background-color: transparent;
  color: var(--button);
  outline: 2px solid var(--button);
  outline-offset: -2px ;
}

.btn-tertiary:hover {
    background-color: var(--button);
    color: var(--main);
    outline: none;
}

.btn-success {
  background-color: #dc3545;
  color: white;
}

.btn-danger {
  background-color: var(--tertiary);
  color: var(--main);
}

.btn-danger:hover {
  background-color: var(--tertiary-hover);
}

.btn-warning {
  background-color: #dc3545;
  color: white;
}

.btn-info {
  background-color: #dc3545;
  color: white;
}

.btn-link {
  background-color: transparent;
  color: var(--button);
  text-decoration: underline;
}

.btn-link:hover {
  color: var(--hover);
}

/* Estilos adaptativos */
@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
