footer,
#footer {
  padding-right: calc(3rem * 0.5) !important;
  padding-left: calc(3rem * 0.5) !important;
  margin-top: calc(3rem * 0.5) !important;
  margin-bottom: calc(3rem * 0.5) !important;
  margin-right: auto;
  margin-left: auto;

  .footer__name-list {
    font-family: "Outfit-SemiBold";
    font-weight: 600;
    color: $headline;
  }

  .menu__content {
    .image-link {
      color: inherit;
      opacity: 1;
    }

    a {
      color: #000000;
      opacity: 0.4;
      transition: 0.1s all ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  .copy__content {
    background-color: $main;
    border-radius: 30px;

    span,
    a {
      font-family: "Outfit-Regular";
      font-weight: 400;
      color: $light-text;
      transition: 0.1s all ease-in-out;
    }

    a:hover {
      color: $headline;
    }
  }
}
