nav,
#navbar {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav__logotype {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      cursor: pointer;
    }
  }

  .nav__menu,
  .nav__menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    li {
      a {
        position: relative;
        font-family: "Outfit-Medium";
        font-weight: 500;
        font-size: 1rem;
        color: $headline;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 4px;
          background-color: $headline;
          transition: 0.15s all ease-in-out;
        }

        &:hover::after {
          content: "";
          width: 100%;
        }
      }
    }
  }

  .nav__buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .user-card {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      background-color: $background;
      border-radius: 99px;
      padding: 6px 10px 6px 6px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
      user-select: none;
      cursor: pointer;

      img {
        border-radius: 50%;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .user-name {
          font-family: "Outfit-SemiBold";
          font-weight: 600;
          font-size: 1rem;
          color: $button-text;
        }

        .user-email {
          font-family: "Outfit-Medium";
          font-weight: 500;
          font-size: 0.85rem;
          color: $light-text;
        }
      }
    }

    .dropdown__content {
      position: absolute;
      padding: 10px;
      top: 60px;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      background-color: $main;
      border-radius: 20px;
      user-select: none;
      display: none;
      opacity: 0;

      &.active {
        display: flex;
        opacity: 1;
      }

      .content__card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 5px 15px 5px 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: $white;
        }

        .card__icon {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 20px;
          height: 100%;
        }

        .card__info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          p {
            font-family: "Outfit-SemiBold";
            font-weight: 600;
            font-size: 1rem;
            color: $button-text;
          }

          span {
            font-family: "Outfit-Regular";
            font-weight: 400;
            font-size: 0.85rem;
            color: $light-text;
          }
        }
      }
    }
  }
}
