/* Colors */

$background: #eff0f3;
$headline: #0d0d0d;
$paragraph: #2a2a2a;
$button: #ff8e3c;
$hover: #cf7534;
$button-text: #0d0d0d;
$stroke: #0d0d0d;
$main: #eff0f3;
$highlight: #ff8e3c;
$light-text: #808080;
$secondary: #c5c5c5;
$secondary-hover: #9e9e9e;
$tertiary: #d9376e;
$tertiary-hover: #aa2a54;
$white: #fdfdfd;

// Root variables
:root {
  --background: #eff0f3;
  --headline: #0d0d0d;
  --paragraph: #2a2a2a;
  --button: #ff8e3c;
  --hover: #cf7534;
  --button-text: #0d0d0d;
  --stroke: #0d0d0d;
  --main: #eff0f3;
  --highlight: #ff8e3c;
  --secondary: #c5c5c5;
  --secondary-hover: #9e9e9e;
  --tertiary: #d9376e;
  --tertiary-hover: #aa2a54;
}
