/* Typography */

// Variables
$primary-font: "Outfit-Regular", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;

:root {
  --primary-font: "Outfit-Regular", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

// Outfit - font-face
@font-face {
  font-family: "Outfit-Thin";
  src: url("../../assets/fonts/Outfit/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Outfit-ExtraLight";
  src: url("../../assets/fonts/Outfit/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Outfit-Light";
  src: url("../../assets/fonts/Outfit/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Outfit-Regular";
  src: url("../../assets/fonts/Outfit/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit-Medium";
  src: url("../../assets/fonts/Outfit/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit-SemiBold";
  src: url("../../assets/fonts/Outfit/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit-Bold";
  src: url("../../assets/fonts/Outfit/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit-ExtraBold";
  src: url("../../assets/fonts/Outfit/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Outfit-Black";
  src: url("../../assets/fonts/Outfit/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
}

// Headers
h1,
.h1 {
  font-family: "Outfit-Black";
  font-size: 80px;
  line-height: 92px;
}

h2,
.h2 {
  font-family: "Outfit-ExtraBold";
  font-size: 64px;
  line-height: 72px;
}

h3,
.h3 {
  font-family: "Outfit-Bold";
  font-size: 50px;
  line-height: 56px;
}

h4,
.h4 {
  font-family: "Outfit-SemiBold";
  font-size: 32px;
  line-height: 40px;
}

h5,
.h5 {
  font-family: "Outfit-SemiBold";
  font-size: 24px;
  line-height: 28px;
}

h6,
.h6 {
  font-family: "Outfit-SemiBold";
  font-size: 18px;
  line-height: 24px;
}

// Paragraphs
p {
  font-family: "Outfit-Regular";
  font-size: 16px;
  line-height: 22px;
}

p.small {
  font-family: "Outfit-Regular";
  font-size: 14px;
  line-height: 22px;
}

small,
caption {
  font-family: "Outfit-Regular";
  font-size: 12px;
  line-height: 18px;
}

// text-align
.text-center {
  text-align: center;
}

// font-size
.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}