/* Utilities */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

// justify-content
.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-baseline {
  justify-content: baseline !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}

// align-items
.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-baseline {
  align-items: baseline !important;
}

.align-center {
  align-items: center !important;
}

.align-stretch {
  align-items: stretch !important;
}

// align-self
.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

// flex-direction
.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

// gap
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.5rem;
}